/* Google font options: Schoolbell, Patrick Hand SC */
.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Schoolbell;
}

#root {
  padding-top: 70px;
}

/* NAV BAR STYLING */
nav {
  height: 65px;
  width: 100%;
  background: white;
  display: grid;
  grid-template-columns: [first] 25% [line2] 50% [line3] 25%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgb(232, 232, 232);
}

.navLogo {
  font-size: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 15px;
  color: rgb(68, 68, 179);
}

.navTitle {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navUser {
  font-size: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 15px;
}

/* SCOREBAR STYLING */

.scoreBarContainer {
  background: rgb(237, 237, 237);
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-template-columns: [first] 50% [line2] 50%;
  height: 125px;
  border-bottom: 1px solid rgb(232, 232, 232);
  padding: 5px;
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badges {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badgeEnabled {
  color: rgb(68, 68, 179);
  margin: 7px;
}

.badgeDisabled {
  color: rgb(165, 165, 165);
  margin: 7px;
}

/* GAME SELECTION and SLIDER STYLING */
.gameSelectContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(191, 238, 238);
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.gameSelectButtons {
  display: flex;
  width: 70%;
  justify-content: space-around;
  padding: 10px;
}

.gameSelectButtons > button {
  border: none;
  width: 100px;
  height: 26px;
  border-radius: 4px;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(217, 252, 252);
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.sliderBox {
  font-family: Schoolbell;
}

/* GAME PLAY CONTAINER and BOX STYLING */
.gamePlayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 234, 232);
  padding: 10px;
}

.gamePlay {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  border-radius: 6px;
}

.questionContainer {
  display: flex;
  flex-direction: row;
  /* background: lightcyan; */
  padding: 5px;
  margin: 5px;
  font-size: 35px;
  align-items: center;
  justify-content: center;
}

.equalSpace {
  margin-left: 10px;
  margin-right: 10px;
}

.answerBox {
  display: flex;
  align-items: center;
}

.answerBox > input {
  border: 1px solid salmon;
  border-radius: 6px;
  padding: 7px;
  background: rgb(255, 220, 216);
  font-size: 30px;
  min-width: 100px;
  width: 150px;
  height: 70px;
}

.answerBox input::placeholder {
  font-size: 20px;
}

.questionBox {
  display: flex;
  flex-wrap: nowrap;
}

.rightAnswerAlert {
  color: rgb(7, 187, 7);
  margin-top: 10px;
  padding: 0 10px;
  font-size: 18px;
}

.wrongAnswerAlert {
  color: rgb(250, 109, 109);
  margin-top: 10px;
  padding: 0 10px;
  font-size: 18px;
}

.answerSubmit {
  display: flex;
  justify-content: center;
}

/* Remove arrows for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* BUTTON STYLING */

button {
  padding: 0 10px;
  font-size: 18px;
}

.submitButton {
  margin: 5px;
}

.nextQuestion {
  margin: 15px;
}

.saveSession {
  margin: 25px;
}

/* LOGIN AND REGISTER STYLING */

.loginPageContainer {
  display: flex;
  background: lightgrey;
  justify-content: center;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  background: lightcyan;
  width: 70%;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.registerPageContainer {
  display: flex;
  background: lightgrey;
  justify-content: center;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  background: lightcyan;
  width: 70%;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.registerForm > input {
  font-size: 20px;
  margin: 10px;
  height: 50px;
  width: 270px;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 6px;
}

.registerForm input::placeholder {
  font-size: 17px;
}

.registerForm > button {
  margin-top: 12px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 6px;
}

.registerFail {
  font-size: 20px;
  color: red;
}

.registerForm > h3,
p {
  font-size: 18px;
}

/* ********** */
/* MEDIA QUERIES FOR DESKTOP SIZING */
@media screen and (min-width: 900px) {
  .scoreBarContainer {
    background: rgb(237, 237, 237);
    display: grid;
    grid-template-columns: [first] 50% [line2] 50%;
    height: 85px;
    border-bottom: 1px solid rgb(232, 232, 232);
    padding: 5px;
  }
}
