/* Google font options: Schoolbell, Patrick Hand SC */
.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Schoolbell;
}

#root {
  padding-top: 70px;
}

/* NAV BAR STYLING */
nav {
  height: 65px;
  width: 100%;
  background: white;
  display: grid;
  grid-template-columns: [first] 25% [line2] 50% [line3] 25%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgb(232, 232, 232);
}

.navLogo {
  font-size: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 15px;
  color: rgb(86, 64, 255);
}

.navTitle {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navUser {
  font-size: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 15px;
}

/* SCOREBAR STYLING */

.scoreBarContainer {
  background: rgb(237, 237, 237);
  display: grid;
  grid-template-columns: [first] 50% [line2] 50%;
  height: 75px;
  border-bottom: 1px solid rgb(232, 232, 232);
  padding: 5px;
}

.scores {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badges {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GAME SELECTION and SLIDER STYLING */
.gameSelectContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(191, 238, 238);
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.gameSelectButtons {
  display: flex;
  width: 70%;
  justify-content: space-around;
  padding: 10px;
}

.gameSelectButtons > button {
  border: none;
  width: 100px;
  height: 26px;
  border-radius: 4px;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(217, 252, 252);
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.sliderBox {
  font-family: Schoolbell;
}

/* GAME PLAY CONTAINER and BOX STYLING */
.gamePlayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 234, 232);
  padding: 10px;
}

.gamePlay {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  border-radius: 6px;
}

.questionContainer {
  display: flex;
  flex-direction: row;
  background: rgb(223, 223, 223);
}
