/* Google font options: Schoolbell, Patrick Hand SC */
.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Patrick Hand";
  font-size: 22px;
}

.mainContainer {
  padding-top: 70px;
}

h4 {
  font-size: 20px;
}

h1 {
  font-size: 30px;
}

label {
  font-size: 18px;
  color: white;
}

/* #root {
  padding-top: 70px;
} */

/* BUTTON STYLING */

button {
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin: 10px;
}

.buttonGrayText {
  color: gray;
}

.button.login {
  width: 250px;
  border-radius: 10px;
  background-image: linear-gradient(#0085bd, #71afcb);
  color: white;
  font-size: 25px;
  border: none;
}

.button.signup {
  width: 250px;
  background: transparent;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  border: 1px solid #0085bd;
}

.button.recover {
  width: 180px;
  background: lightgray;
  border-radius: 10px;
  color: black;
  font-size: 20px;
  /* border: 1px solid #cb4527; */
}

.button.recover:hover {
  background: darkgray;
}

/* .loginButton {
  width: 250px;
  border-radius: 12px;
  background-image: linear-gradient(#0085bd, #71afcb);
  color: white;
  font-size: 25px;
  border: none;
} */

.button.login:hover {
  background-image: linear-gradient(#006894, #006d9f);
}

.button.signup:hover {
  background: #cb4527;
}

/* WELCOME PAGE STYLING */
.welcomePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#cb4527, #ec9c52);
  height: 100vh;
}

.welcomeLogoContainer {
  display: flex;
  margin-bottom: 20px;
}

.woofMathLogo {
  width: 350px;
}

.welcomeContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  max-width: 500px;
  color: white;
  text-align: center;
}

.welcomeContentContainer > p {
  margin-bottom: 25px;
  font-size: 22px;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

.welcomeContentContainer > h1 {
  font-size: 55px;
  font-family: "Schoolbell";
}

/* NAV BAR STYLING */
nav {
  height: 65px;
  width: 100%;
  background: white;
  display: grid;
  grid-template-columns: [first] 25% [line2] 50% [line3] 25%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgb(232, 232, 232);
}

.navLogo {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 15px;
}

.navLogo > img {
  width: 55px;
}

.navTitle {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Schoolbell";
}

.navUser {
  font-size: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 15px;
}

/* SCOREBAR STYLING */

.scoreBarContainer {
  /* background: rgb(237, 237, 237); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-template-columns: [first] 50% [line2] 50%;
  border-bottom: 1px solid rgb(232, 232, 232);
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badgesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badgeEnabled {
  color: rgb(68, 68, 179);
  margin: 7px;
}

.badgeDisabled {
  filter: grayscale(100%);
  opacity: 60%;
}

.badgeDogDisabled {
  color: rgb(209, 200, 125);
  margin: 7px;
}

.badgeDogEnabled {
  color: rgb(223, 190, 0);
  margin: 7px;
}

.eachBadge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.eachBadge > h3 {
  font-size: 14px;
}

.eachBadge > img {
  width: 70px;
}

/* GAME SELECTION and SLIDER STYLING */
.gameSelectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.gameSelectButtons {
  display: flex;
  width: 70%;
  justify-content: space-around;
  padding: 10px;
}

.gameSelectButtons > button {
  border: none;
  width: 100px;
  height: 26px;
  border-radius: 4px;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.sliderBox {
  font-family: Schoolbell;
}

/* GAME PLAY CONTAINER and BOX STYLING */
.gamePlayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.gamePlay {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  border-radius: 6px;
}

.questionContainer {
  display: flex;
  flex-direction: row;
  /* background: lightcyan; */
  padding: 5px;
  margin: 5px;
  font-size: 35px;
  align-items: center;
  justify-content: center;
}

.equalSpace {
  margin-left: 10px;
  margin-right: 10px;
}

.answerBox {
  display: flex;
  align-items: center;
}

.answerBox > input {
  border: 1px solid salmon;
  border-radius: 6px;
  padding: 7px;
  background: rgb(255, 220, 216);
  font-size: 30px;
  min-width: 100px;
  width: 150px;
  height: 70px;
}

.answerBox input::placeholder {
  font-size: 20px;
}

.questionBox {
  display: flex;
  flex-wrap: nowrap;
}

.rightAnswerAlert {
  color: rgb(0, 164, 0);
  margin-top: 10px;
  padding: 10px 10px;
  font-size: 18px;
  background-color: rgb(194, 255, 194);
  border: 1px solid rgb(232, 232, 232);
  border-radius: 6px;
}

.wrongAnswerAlert {
  color: rgb(215, 49, 49);
  margin-top: 10px;
  padding: 10px 10px;
  font-size: 18px;
  background-color: rgb(255, 215, 215);
  border: 1px solid rgb(232, 232, 232);
  border-radius: 6px;
}

.answerSubmit {
  display: flex;
  justify-content: center;
}

/* Remove arrows for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submitButton {
  margin: 5px;
  background-color: green;
  color: white;
}

/* LOGIN AND REGISTER STYLING */

.loginPageContainer {
  display: flex;

  /* background: #d4492b; */
  justify-content: center;
  background-image: linear-gradient(#d4492b, #ec9c52);
  height: 100vh;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  width: 70%;

  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.loginForm > input {
  height: 50px;
  width: 250px;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-family: "Patrick Hand";
  font-size: 20px;
  margin: 7px;
  background-image: linear-gradient(#a6d5ea, #c8e8f7);
}

.loginContentContainer {
  margin: 20px;
}

.loginContentContainer > h1 {
  font-size: 30px;
}

.link {
  text-decoration: none;
  color: #2d779a;
}

.recoverButtonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.registerPageContainer {
  display: flex;

  /* background: #d4492b; */
  justify-content: center;
  background-image: linear-gradient(#d4492b, #ec9c52);
  height: 100vh;
}

.registerContentContainer {
  display: flex;
  flex-direction: column;
  width: 70%;

  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: white;
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.registerForm > input,
select {
  font-size: 20px;
  margin: 7px;
  height: 50px;
  width: 270px;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-family: "Patrick Hand";
}

.registerForm input::placeholder,
select:invalid {
  font-size: 17px;
  color: rgb(140, 140, 140);
  font-style: italic;
}

select {
  color: rgb(140, 140, 140);
  font-size: 17px;
  width: 320px;
}

.registerForm > button {
  margin-top: 12px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 6px;
}

.registerFail {
  font-size: 20px;
  color: rgb(151, 0, 0);
  background-color: rgb(248, 194, 194);
  padding: 10px;
}

.registerForm > h3,
p {
  font-size: 18px;
}

.securityQuestionsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.securityQuestionsContainer > input {
  height: 50px;
  width: 210px;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-family: "Schoolbell";
  font-size: 20px;
}

/* ACCOUNT PAGE STYLING */
.accountPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.purple {
  color: rgb(68, 68, 179);
}

.getBackButton {
  background-color: rgb(220, 254, 220);
}

/* STYLING FOR FORGOT PASSWORD MODAL */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  color: black;
}

.modalClose {
  float: right;
  border: 1px solid lightgray;
  background: none;
  font-size: 18px;
  cursor: pointer;
  width: 100px;
}

.login_returnedUsers > ul {
  list-style-type: none;
}

/* ********** */
/* MEDIA QUERIES FOR DESKTOP SIZING */
@media screen and (min-width: 900px) {
  .scoreBarContainer {
    /* background: rgb(237, 237, 237); */
    display: grid;
    grid-template-columns: [first] 50% [line2] 50%;
    border-bottom: 1px solid rgb(232, 232, 232);
  }
}
